.click {
    background-color: rgb(74, 78, 83);
}
@include small  {
    .to-hide {
        display: none !important;
    }
}
@include extra-small  {
    .to-hide {
        display: none !important;
    }
}

i {
    margin: 3px;
}
.side-bar {
    height: 100%;
    background-color: $dark-grey;
    color: $light-grey;
    overflow: hidden;
    .side-bar-title, .side-bar-profile{
        height: $header-height;
        font-size: $font-title;
        border-bottom: 1px solid $mid-grey;
        padding: 5px 12px;
        >div {
            height: 100%;
        }
        i {
            height: 25px;
            width: 25px;
            text-align: middle;
            line-height: 25px;
            cursor: pointer;
        }
    }
    .side-bar-profile{
        div .name {
            font-size: $font-subtitle;
        }
    }
    .side-bar-categories{
        padding: 15px 7px;
        margin: 0px;
        li {
            height: 40px;
            padding: 5px 5px;
            border-radius: 5px;
            cursor: pointer;
            i {
                height: 17px;
                width: 17px;
            }
            div {
                padding-left: 5px;
            }
        }
        li:hover {
            background-color: rgb(74, 78, 83)
        }
        li:not(:last-child) {
            margin-bottom: 5px;
        }
        

    }
}