.modal-container {
    position: absolute;
    width: 400px;
    background-color: rgb(66, 66, 66);
    color: $light-grey;
    overflow: hidden;
    @extend %boxShadowModal;
    padding: 20px;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    .text-field {
        padding-bottom:10px;
        ul {
            padding: 10px 0px;
            li {
                position: relative;
                padding: 0px 5px;
                i {
                    display:none;
                }
            }
            li:hover {
                i{
                    color: $alarm-color;
                    cursor: pointer;
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
            }

        }
    }
    .MuiInputBase-input {
        color: $light-grey;
    }
    .MuiInput-underline:before {
        border-color:$light-grey-trans
    }
    .MuiFormLabel-root {
        color: $light-grey-trans;
    }
    .MuuInputBase-root {
        color: blue;
    }
}
.modal-view {
    background-color: none;
}
.modal-button {
    float: right;
}