.root, .root-container {
    height: 100%;
}

.root-container {
    display: flex;
}

.root-side-bar { 
    flex: 0 0 auto;

}
.main-content {
    flex: 1 0 auto;
    background-color: $main-background-color;
}
